/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.container
{
    position:relative;
    width:100%;
    min-height: 100vh;
}
.navigation
{
    position:fixed;
    left:0;
    top:0;
    width:300px;
    height:100%;
    background:#003147;
    transition:all .5s linear;
}
.navigation.active
{
    width:60px;
}
.navigation ul
{
    position: absolute;
    left:0;
    top:0;
    width:100%;
}
.navigation ul li
{
    position:relative;
    list-style: none;
    width:100%;    
}
.navigation ul li:hover
{
    background:#03a9f4;
}
.navigation ul .brandName:hover
{
    background:transparent;
}
.navigation ul li a
{
    position:relative;
    display:flex;
    text-decoration: none;
    color:#fff;
}
.navigation ul li a .icon
{
    position:relative;
    display:block;
    text-align: center;
    min-width:60px;
    height:60px;
    line-height: 60px;
}
.navigation ul li a .title
{
    position:relative;
    display:block;
    height:60px;
    line-height: 60px;
    white-space: nowrap;
}
.navigation ul li a .icon .fa
{
    color:#fff;
}
