.container .main .details .recentCustomers
{
    position:relative;
    background:#fff;
    min-height:530px;
    padding:15px;        
}   
.container .main .details .recentCustomers table
{
    margin-top:25px;
}
.container .main .details .recentCustomers table tbody tr td
{
    padding:10px;
}
.container .main .details .recentCustomers table tbody tr td .imgBox
{
    position:relative;
    width:45px;
    height:45px;
}
.container .main .details .recentCustomers table tbody tr td .imgBox img
{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 50%;
    border:1px solid #000;
}
.container .main .details .recentCustomers table tbody tr td h4 span
{
    font-weight: 300;
    font-family: "Poppins",sans-serif;
}
.container .main .details .recentCustomers table tbody tr:hover
{
    cursor:pointer;
}